{% load static %}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body
{
    font-size: 14px;
    background: #1b7895;

}
.container
{
    background : #0cc0df;
    width: 500px;
    padding: 25px;
    margin-top: 10%;
    margin-left: 34%;
    border-top: 5px solid #d0efff;
    border-bottom: 5px solid #d0efff;
}
.container h1
{
    font-size: 24px;
    /*line-height: 24px;*/
    padding: 30px;
    text-align: center;
}
.container h6
{
    background-color: green;
    font-size: 14px;
    /*line-height: 24px;*/
    padding: 10px;
    text-align: center;
    color: greenyellow;
}
.input-name
{
    width: 90%;
    position: relative;
    margin: 20px auto;
}
.lock
{
    padding: 8px 11px;
}
.input-name i
{
    position: absolute;
    font-size: 18px;
    color: #2a9df4;
    border-right: 1px solid #cccccc;
}
.button
{
    background-color: #d0efff;
    width: 100%;
    padding: 10px;
}
.button:hover
{
    background-color: #2a9df4;
    color: black;
    border-color: blue;
}
.email
{
    width: 100%;
    padding: 8px 0 8px 40px;
}
