{% load static %}
<html>
<head>
	<title>Contact us</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/contactus.css'%}">
	</head>
<body>
<form method = "POST">
	{% csrf_token %}
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Contact Us</h2>
				<input type="text" class="field" placeholder="Your Name">
				<input type="text" class="field" placeholder="Your Email">
				<input type="text" class="field" placeholder="Phone">
				<textarea placeholder="Message" class="field"></textarea>
				<button class="btn"	value="Send" formaction="{% url 'about' %}">Send</button>
			</div>
		</div>
	</div>
</form>
</body>
</html>