<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>DATE</th>
    <th>CATEGORY</th>
    <th>ITEM</th>
    <th>PRICE</th>
  </tr>
  </thead>
  <tbody>
  {% for b in M_E %}
  <tr>
    <td>{{b.id}}</td>
    <td>{{b.date}}</td>
    <td>{{b.category}}</td>
    <td>{{b.item}}</td>
    <td>{{b.price}}</td>

    <td>
      <a href="{% url 'edit_expense' b.pk %}">Edit</a>
      <a href="{% url 'delete_expense' b.pk %}">Delete</a>
    </td>

  </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>